<!DOCTYPE html>
<html>
  <head>
    <title>Cepas2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

   <section>
   <%= link_to 'wine', wines_path %>
   <%= link_to 'wine_strains', wine_strains_path %>
   <%= link_to 'strains', strains_path %>

   <% if user_signed_in? %>
   <%= link_to 'logout', destroy_user_session_path, method: :delete %>
   <% else %>
   <%= link_to 'login', new_user_session_path %>
   <% end %>
  </section>

    <%= yield %>
  </body>
</html>
